/*---Sets default styling across the entire web page.
    All margin and padding will be included in element's
    total width and height---*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*---Sets default styles for anchor tags across the entire page---*/

a {
    color: #ffffff;
    text-decoration: none;
}

/*---Sets default font-size for paragraph elements across the entire page---*/

p {
    font-size: 16px;
}

/*---header---*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*---sets a background image to be centered and cover the available area while maintaining it's aspect ratio---*/

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*---Styles the main portion of the web page---*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*---Sets all the content sections to the same styles---*/

.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*---sets all images in the content sections to not exceed 200px in height---*/

.content section img {
    max-height: 200px;
}

/*---Floats the image to the left side of it's parent container and adds a margin---*/

.float-left {
    float: left;
    margin-right: 25px;
}

/*---Floats the image to the right side of it's parent container and adds a margin---*/

.float-right {
    float: right;
    margin-left: 25px;
}

/*---Sets all h2s in the content sections to the same margin-bottom and font-size styles---*/

.content section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*---Sets styling for the aside element---*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*---Sets all aside sections to the same margin-bottom and font color---*/

.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*---Sets all h3s in the aside sections to the same margin-bottom and centers the text in the elemnt--*/

.benefits section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*---Sets all aside sections' images to display block to have full control over margin and max-width attributes---*/

.benefits section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*---Sets padding and font styling for the footer,
    aligns it's text centrally, 
    and sets element below any floating elements---*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*---Sets the font-size to 20px for the footer's h2 element---*/

footer h2 {
    font-size: 20px;
}
